

<p>
  <strong>Prodnos:</strong>
  <%= @bazesprod.prodnos %>
</p>

<p>
  <strong>Nutrition1:</strong>
  <%= @bazesprod.nutrition1 %>
</p>

<%= link_to 'Edit', edit_bazesprod_path(@bazesprod) %> |
<%= link_to 'Back', bazesprods_path %>
