

<p>
  <strong>Prodnos:</strong>
  <%= @bazesprod.prodnos %>
</p>


<% if user_signed_in? %>
  <%= link_to 'Edit', edit_bazesprod_path(@bazesprod) %> |
<% end %>

<%= link_to 'Back', bazesprods_path %>
